.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    align-items: center;
    width: 100vw;
    height: 60vh;
}
.menu-title{
    font-family:cursive;
    font-weight: lighter;
    margin-bottom: 8vh;
    color: white;
    letter-spacing: 5px;
    word-spacing: 20px;
    text-shadow: 8px 10px 7px black;
}
