.nonVeg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nonVeg-par>p{
    font-family: cursive;
    font-size: 30px;
    margin-top: 10vh;
    margin-bottom: 5vh;  
    color: white;  
}
li{
    list-style-type: none;
    font-size: 25px;
}
.nonveg-button{
    display: flex;
    width: 200px;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 5vh;
}
.nonveg-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
    color: white;
}
.nonveg-list>li:hover{
    cursor: pointer;
}