.selected-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selected-container>h1{
    color: white;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
p{
    font-size: 20px;
}
.button-sele{
    display: flex;
    margin-top: 5vh;
    width: 100vw;
    /* justify-content: flex-start; */
    /* border: 1px solid black; */
}
